/* src/styles/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.hide-scroll::-webkit-scrollbar {
    display: none;
}

.home-page::-webkit-scrollbar {
    display: none;
}

.class-blocks-home::-webkit-scrollbar {
    display: none;
}

button {
    cursor: pointer;
}

.remove-scrollbar::-webkit-scrollbar {
    display: none;
}

@media (min-width:1600px) {
    .class-list {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}